@font-face {
  font-family: ezFthora;
  font-weight: 400;
  src: url("/assets/fonts/ezFthora.ttf");
  font-display: swap;
}

@font-face {
  font-family: ezPsaltice;
  font-weight: 400;
  src: url("/assets/fonts/ezPsaltica.ttf");
  font-display: swap;
}

button {
  color: black;
  background: #FFFFF0;
  border: 3px solid #696969;
  border-radius: 10px;
  margin: 6px;
  padding: 4px;
  line-height: 1;
  font-family: Bitter, serif;
  font-weight: 600;
}

button:hover {
  background: #EEEEE0;
  border: 3px solid #595959;
}

button:active {
  background: #DDDDD0;
  border: 3px solid #494949;
}

button:disabled {
  background: #EEEEE0;
  color: #AAAAA0;
  border: 3px solid #AAAAA0;
}

hr {
  margin: 40px 0px;
  border: 1px solid black;
}

#trainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#panel-container {
  position: relative;
}

#setup-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#game-panel {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#setup-panel,
#game-panel {
  transition: transform 0.3s ease-out, opacity 0.2s ease-out;
}

#setup-panel.game-in-progress,
#game-panel:not(.game-in-progress) {
  opacity: 0;
  z-index: -1;
  transform: translateX(-100px);
}

#setup-panel.game-in-progress button,
#game-panel:not(.game-in-progress) button {
  disabled: true;
}

#setup-panel:not(.game-in-progress),
#game-panel.game-in-progress {
  opacity: 1;
}

.note-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.note-control button {
  height: 35px;
  width: 35px;
  font-size: 1.4em;
}

#start-btn,
#stop-btn {
  padding: 15px;
}

#note-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#note-rows div {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#note-rows div button {
  visibility: hidden;
}

#note-rows .note-div-enabled {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#note-rows .note-div-enabled button {
  visibility: visible;
}

.note-btn {
  font-size: 1.2em;
  font-weight: 600;
  width: 90px;
  padding: 6px;
}

.fthora-space {
  display: inline-block;
  width: 0.6em;
}

.enharmonic-fthora {
  font-family: ezFthora;
  font-size: 150%;
  position: absolute;
  transform: translate(30px, -40px);
}

.ison-slot {
  font-family: ezPsaltica;
  font-size: 1.7em;
  position: absolute;
  transform: translate(-45px, 3px);
  transition: opacity 0.2s ease;
  opacity: 0;
}

.ison-slot.show {
  opacity: 1;
}
